html, body { padding: 0; margin: 0; background: white }
body {padding-bottom: 34px;}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255,255,255,0.91);
    color: blue;
    padding: 0 10px;
    font: 12px/34px "HelveticaNeue", helvetica;
    text-align: center;
}
footer a {
    color: inherit;
}
pre {
   border-width: 10px;
   border-style: solid;
   border-left-width: 0;
   border-right-width: 0;
   padding: 10px 20px;
   font-size: 12pt;
   margin: 0;
}
pre a {
  text-decoration: none;
}
pre a:hover {
  text-decoration: underline;
}
pre i { font-style: normal;}

a.inherit {
  color: inherit;
}